* {
    font-family: JetBrainsMono;
    color: #e5e9f0;
    background: transparent;
}

#window {
    background: #1d2021;
    margin: auto;
    padding: 10px;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#input:focus {
    outline: none !important;
    border: 3px solid #2e4032;
    box-shadow: 0 0 0px #71ce74;
}

#outer-box {
    padding: 20px;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 10px;
    border-radius: 10px;
}

#entry:selected {
    background-color: #2e4032;
}

#text {
    margin: 2px;
}
